<div class="container">
    <div ng-controller="DropdownCtrl">
        <div class="btn-group  btn-group-justified">
            <div class="btn-group btn-block">
                <button id="dateBtn" class="btn btn-default btn-block" dropdown data-toggle="dropdown">
                {{item.date.showname}} <span class="caret">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dateBtn">
                        选择日期
                    </div>
                </div>
                <div class="btn-group btn-block">
                    <button id="typeBtn" class="btn btn-default btn-block" dropdown data-toggle="dropdown">
                    {{item.type.showname}} <span class="caret">
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="typeBtn">
                            <li ng-repeat="type in item.type.alltypes">
                                <a href="#" ng-click="chooseType(type.typeId,type.name)">{{type.name}}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group btn-block">
                        <button id="postionBtn" class="btn btn-default btn-block" dropdown data-toggle="dropdown">
                        {{item.position.showname}} <span class="caret">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="postionBtn">
                                选择日期
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-controller="VenueListCtrl">
                    <div ng-repeat="venue in venues">
                        <div ui-sref="index.venuedetail({venueId:venue.id})">
                            <!--  ui-sref="venuedetail({venueId:venue.id,venueName:venue.showname})" -->
                            
                            <div class="panel">
                                <div>
                                    <img ng-src="{{venue.picSrc}}" class="img-rounded" width="100%" height="200px">
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <strong>{{venue.name}}</strong>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        
                                        <!-- <span ng-repeat=" in venue.rate"><i class="icon ion-android-star"></i></span> -->
                                        <i class="icon ion-android-star"></i>
                                        ({{venue.rate}})
                                        <!-- ion-android-star  ion-android-star-outline -->
                                    </div>
                                </div>
                                <div>
                                    <i class="icon ion-ios-location-outline"></i> {{venue.position}}
                                </div>
                                <div class='row'>
                                    <div class="col-xs-6">
                                        <i class="icon ion-android-time"></i> {{venue.time}}
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        {{venue.price}}
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>